:root {
  --total-width: 0px;
}

.graph {
  display: flex;
  flex-direction: column;
  grid-gap: rem(34);
  & > * {
    color: hsla(0, 0%, 96%, 0.7);
  }
  &__column {
    min-height: rem(420);
    display: grid;
    grid-template-columns: rem(930) auto;
    grid-gap: rem(18);
  }
  &__numbers-row {
    margin-top: rem(14);
    display: flex;
    align-items: center;
    grid-gap: rem(92);
    font-size: rem(14);
    width: calc(100% - rem(24));
    margin-left: auto;
  }
  &__right-number-row {
    display: flex;
    flex-direction: column;
    grid-gap: rem(42);
    width: fit-content;
  }
  &__right-items {
    font-size: rem(14);
    position: relative;
    font-weight: 600;
    &::before {
      @include psevdo;
      left: -18px;
      width: rem(4);
      height: rem(1);
      background-color: hsla(0, 0%, 100%, 0.7);
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__curve-display {
    position: relative;
    height: 100%;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.7);
    border-right: 1px solid hsla(0, 0%, 100%, 0.7);
  }
  .curve-display {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
  &__total {
    font-weight: 600;
    position: relative;
    &::before {
      @include psevdo;
      top: -14px;
      left: 50%;
      width: rem(1);
      height: rem(4);
      background-color: hsla(0, 0%, 100%, 0.7);
      transform: translateX(-50%);
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__heading-inner {
    display: flex;
    align-items: center;
    grid-gap: rem(38);
  }

  &__options {
    display: flex;
    grid-gap: rem(10);
  }
  &__options-item {
    cursor: pointer;
    background-color: hsla(240, 11%, 12%, 1);
    border-radius: 8px;
    height: rem(40);
    display: flex;
    grid-gap: rem(7);
    align-items: center;
    font-weight: 500;
    padding: rem(10);
    &--settings {
      padding: 0;
      width: rem(40);
      justify-content: center;
    }
  }
  &__current {
    font-size: rem(15);
    font-weight: 600;
    .white-text {
      color: var(--clr-light-400);
    }
    .green-text {
      color: var(--clr-green-400);
    }
    .red-text {
      color: var(--clr-red-400);
    }
  }
  &__arrow-icon {
    transition: 400ms ease;
  }
  &__dropdown {
    display: flex;
    align-items: center;
    grid-gap: rem(10.5);
    position: relative;
    &:hover .graph__arrow-icon{
      transform: scaleY(-1);
    }
  }
  &__currency {
    font-size: clamp(rem(26), vw(30), rem(30));
    font-weight: 700;
    color: var(--clr-green-400);
  }
  &__arrow {
    cursor: pointer;
    background-color: hsla(240, 11%, 12%, 1);
    width: rem(40);
    height: rem(40);
    border-radius: 8px;
    display: grid;
    place-items: center;
    position: relative;
  }
  &__point {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 45%;
    width: 100%;
  }
  &__line {
    flex: 1;
    border: 1px dashed var(--clr-green-400);
    min-width: 100%;
  }
  &__point-total {
    color: var(--clr-dark-400);
    background-color: var(--clr-green-400);
    font-weight: 600;
    line-height: 1.5;
    left: 0;
    z-index: 50;
    position: relative;
    &::before {
      @include psevdo;
      left: -10px;
      top: 3.2px;
      background-color: var(--clr-green-400);
      height: rem(18);
      width: rem(18);
      transform: rotate(135deg);
      z-index: -1;
    }
  }
  &__icon {
    &--btc {
      max-width: rem(40);
    }
    &--arrow {
      max-width: rem(17.42);
      max-height: rem(22);
    }
  }
}

.hidden-drop {
  position: absolute;
  background-color: hsla(240, 11%, 12%, 1);
  border-radius: 12px;
  top: 100%;
  z-index: 100;
  transform: translateY(10px);
  opacity: 0;
  transition: 400ms ease;
  visibility: hidden;
  pointer-events: none;
  &__inner {
    padding: rem(20);
  }
  &__all {
    background-color: hsla(0, 0%, 0%, 0.3);
    border-radius: 12px;
    padding: rem(9.5) rem(31);
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-orange-400);
    font-size: rem(14);
    font-weight: 600;
    margin-bottom: rem(21);
  }
  &__search {
    padding: rem(12) rem(15);
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
    grid-gap: rem(6);
    margin-bottom: rem(15);
    img {
      max-width: rem(16);
    }
    input {
      background-color: transparent;
      color: var(--clr-light-400);
      font-size: rem(14);
      font-weight: 400;
      &::placeholder {
        font-size: inherit;
        color: hsla(0, 0%, 100%, 0.7);
        font-weight: 400;
      }
    }
  }
}

.show-hidden-dropdown {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.hidden-list {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  &__icon {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    span {
      color: var(--clr-light-400);
      font-weight: normal;
      font-weight: 700;
    }
    img {
      max-width: rem(26);
      max-height: rem(26);
    }
  }
}


.graph-active {
  .graph__options {
    display: none;
  }
  .graph__column {
    display: flex;
    min-height: rem(435);
  }
  .graph__numbers-row,
  .graph__right-number-row {
    grid-gap: rem(49);
  }
  .graph__numbers-row {
    width: 100%;
  }
  .graph__curve {
    flex: 1;
  }
  .graph__right-number-row {
    grid-gap: rem(42);
  }
}


