.interface {
  margin-bottom: rem(35);
  &__body {
    display: flex;
    grid-gap: rem(20);
  }
  &__graph {
    flex: 1;
  }
}

.control {
  background-color: var(--table-bg);
  max-width: rem(690);
  width: 100%;
  border-radius: 10px;
  & > * {
    font-size: rem(14);
  }
  &__inner {
    padding: rem(25) rem(30);
  }
  &__heading {
    display: flex;
    grid-gap: rem(30);
    align-items: center;
    margin-bottom: rem(34);
  }
  .control-item {
    background-color: transparent;
    padding: rem(9.5) rem(15);
    color: var(--clr-light-400);
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
  }

  &__input {
    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--clr-light-400);
      font-weight: 500;
      &::placeholder {
        font-weight: inherit;
        color: hsla(0, 0%, 100%, 0.7);
      }
    }
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: rem(7.5);
    padding: rem(9.5);
    border-radius: 10px;
    font-weight: 700;
    flex: 1;
    &--up {
      background-color: hsla(152, 100%, 50%, 0.2);
      outline: 1px dashed var(--clr-green-400);
      color: var(--clr-green-400);
    }
    &--down {
      color: var(--clr-red-400);
      outline: 1px dashed var(--clr-red-400);
      background-color: hsla(341, 100%, 72%, 0.2);
    }
  }
  &__column {
    display: grid;
    grid-gap: rem(20);
  }
  &__grid-name {
    color: hsla(0, 0%, 100%, 0.7);
    font-weight: 600;
    margin-bottom: rem(15);
  }
  &__toggle {
    text-transform: uppercase;
    font-weight: 400;
    transition: all 350ms ease;
    color: var(--clr-light-500);
    cursor: pointer;
    &:hover {
      color: var(--clr-light-400);
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(27);
  }
  &__output {
    display: flex;
    align-items: center;
    grid-gap: rem(24.5);
    span {
      font-weight: 500;
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
  &__grid-inner {
    display: flex;
    align-items: center;
    grid-gap: rem(20);
    & > * {
      flex: 1;
    }
    &--btn-row {
      grid-gap: rem(30);
    }
  }
}

.selected-toggle {
  font-weight: 600;
}

@include max-width($l-media) {
  .interface {
    &__body {
      display: flex;
      flex-direction: column;
    }
  }
  .control {
    max-width: 100%;
  }
}

