.interface {
  margin-bottom: rem(70);
  &__body {
    display: flex;
    grid-gap: rem(20);
  }
  &__graph {
    flex: 1;
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.control {
  background-color: var(--table-bg);
  max-width: rem(345);
  width: 100%;
  border-radius: 10px;
  & > * {
    font-size: rem(14);
    color: hsla(0, 0%, 100%, 0.7);
  }
  &__inner {
    padding: rem(25) rem(30) rem(35) rem(30);
  }
  &__heading {
    display: flex;
    grid-gap: rem(30);
    align-items: center;
    margin-bottom: rem(34);
  }
  .control-item {
    background-color: transparent;
    padding: rem(9.5) rem(15);
    color: var(--clr-light-400);
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
  }
  &__grid-item {
    &--btn {
      display: flex;
      justify-content: center;
      margin-top: rem(24);
    }
  }
  &__input {
    input {
      background-color: transparent;
      border: none;
      outline: none;
      color: var(--clr-light-400);
      font-weight: 500;
      &::placeholder {
        font-weight: inherit;
        color: hsla(0, 0%, 100%, 0.7);
      }
    }
  }
  &__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: rem(7.5);
    padding: rem(9.5);
    border-radius: 10px;
    font-weight: 700;
    flex: 1;
    font-size: rem(14);
    &--up {
      background-color: hsla(152, 100%, 50%, 0.2);
      outline: 1px dashed var(--clr-green-400);
      color: var(--clr-green-400);
    }
    &--down {
      color: var(--clr-red-400);
      outline: 1px dashed var(--clr-red-400);
      background-color: hsla(341, 100%, 72%, 0.2);
    }
  }
  &__column {
    display: grid;
    grid-gap: rem(20);
    height: fit-content;
    &--auto {
      display: none;
    }
  }
  &__grid-name {
    color: hsla(0, 0%, 100%, 0.7);
    font-weight: 600;
    margin-bottom: rem(15);
    text-transform: uppercase;
  }
  &__factor {
    padding: rem(3) rem(10);
    background-color: hsla(0, 0%, 100%, 0.1);
    border-radius: 8px;
    font-size: rem(13);
    cursor: pointer;
  }
  &__price {
    width: fit-content;
    flex: 0 0 auto !important;
    display: block;
    span {
      font-weight: 500;
      &:nth-child(1) {
        font-size: rem(13);
      }
      &:nth-child(2) {
        color: var(--clr-light-400);
        font-weight: 700;
      }
    }
  }
  &__slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    height: rem(12);
    width: 100%;
    background-image: var(--slider-bg);
    border-radius: 25px;
    position: relative;
    margin-bottom: 1rem;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      background-color: var(--clr-light-400);
      border-radius: 50%;
      width: rem(24);
      height: rem(24);
      transition: all 200ms ease;
    }
  }
  &__bet {
    padding: rem(11);
    color: var(--clr-dark-400);
    font-size: rem(12);
    font-weight: 600;
    background-color: var(--clr-orange-400);
    border-radius: 10px;
    text-transform: uppercase;
    width: 100%;
    max-width: rem(182);
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  &__slider-values {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__safe {
    font-size: rem(13);
    font-weight: 700;
    color: var(--clr-light-400);
    span {
      color: var(--clr-green-400);
    }
  }
  &__wild {
    font-size: rem(13);
    font-weight: 700;
    color: var(--clr-light-400);
    span {
      color: var(--clr-red-400);
    }
  }
  &__multiplier {
    padding: rem(9.5) rem(15);
    display: flex;
    align-items: center;
    grid-gap: rem(14);
    flex: 0 !important;
    outline: 1px solid hsla(0, 0%, 100%, 0.2);
    border-radius: 10px;
    font-weight: 700;
    color: var(--clr-light-400);
    span {
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
  &__price {
    span {
      display: block;
    }
  }
  &__toggle {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--clr-light-500);
    position: relative;
    transition: color 400ms ease;
    &::before {
      @include psevdo;
      top: 1.8rem;
      width: 100%;
      background-color: var(--clr-blue-400);
      height: rem(1);
      opacity: 0;
      transform: translateY(10px);
      transition: all 400ms ease;
    }

    cursor: pointer;
    &:hover {
      color: var(--clr-light-400);
    }
  }
  &__output {
    display: flex;
    align-items: center;
    grid-gap: rem(24.5);
    span {
      font-weight: 500;
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
  &__factor-row {
    display: flex;
    grid-gap: rem(10);
    flex: 0 !important;
  }
  &__grid-inner {
    display: flex;
    align-items: center;
    grid-gap: rem(20);
    height: fit-content;
    &--wager {
      padding: rem(7) rem(15);
      border-radius: 10px;
      outline: 1px solid hsla(0, 0%, 100%, 0.2);
      justify-content: space-between;
      span {
        font-weight: 700;
        color: var(--clr-light-400);
      }
      img {
        max-width: 1rem;
      }
    }
    & > * {
      flex: 1;
    }
    &--btn-row {
      grid-gap: rem(30);
    }
  }
}

.selected-toggle {
  font-weight: 600;
  color: var(--clr-light-400);
  &::before {
    opacity: 1;
    transform: translateY(0px);
  }
}

.manual-toggle-selected {
  max-width: rem(690);
  .control__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: rem(27);
  }
  .control__inner {
    padding: rem(30) rem(30) rem(41) rem(30);
  }
  .control__column--auto {
    display: flex;
    flex-direction: column;
    @include max-width(40em) {
      display: flex;
    }
  }
}


@include max-width($l-media) {
  .graph-active {
    .graph__options {
      display: flex !important;
    }
    .graph__column {
      min-height: 26.25rem !important;
    }
  }
  .manual-toggle-selected {
    .control__inner {
      padding: 1.5625rem 1.875rem 2.1875rem;
    }
  }
  .interface {
    &__container {
      max-width: 50rem;
      margin-inline: auto;
    }
    &__body {
      grid-gap: rem(60);
      display: flex;
      flex-direction: column;
    }
  }
  .graph {
    &__column {
      display: flex !important;
    }
    &__numbers-row {
      width: 100% !important;
      grid-gap: 0 !important;
      justify-content: space-between;
    }
    &__curve {
      flex: 1;
    }
  }
  .control {
    max-width: 100%;
  }
}

@include max-width(51.875em) {
  .graph {
    &__point-total {
      font-size: rem(12) !important;
      &::before {
        height: 0.8rem !important;
        width: 0.8rem !important;
        left: -5px !important;
      }
    }
    &__heading {
      flex-direction: column;
      grid-gap: 1rem;
      flex-wrap: wrap;
      justify-content: center !important;
    }
    &__current {
      font-size: rem(14) !important;
    }
    &__dropdown {
      flex: 1 1 100%;
      justify-content: center;
    }
    &__heading-inner {
      grid-gap: 1rem !important;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@include max-width(40.625em) {
  .graph {
    &__total, .graph__right-items {
      font-size: rem(10);
    }
  }
  .control {
    &__grid {
      display: flex
      ;
      flex-direction: column;
    }
  }
}

@include max-width(40.5em) {
  .control {
    &__grid {
      display: flex !important;
      flex-direction: column;
    }
    &__inner {
      padding: 1.5rem;
    }
  }
}
